body {
  margin: 0px;
  padding: 0px;
  background-image: url("images//backg.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
}
