@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
}

#ksu_logo {
  position: absolute;
  margin-top: 0.2rem;
  height: 6.5rem;
  width: 7.9rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 31.5rem;
}

.nav #welcome_user {
  margin-top: 5rem;
  margin-left: 9rem;
  font-size: 2rem;
}

.nav #logout {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 1rem;
}

.nav #bet {
  margin-top: 2rem;
  margin-left: 1rem;
}

.nav #logout_img {
  margin-top: 1.5rem;
  margin-left: 2rem;
  height: 2.5rem;
  width: 2.5rem;
}

.user_form {
  height: 50%;
  width: 35%;
  background-color: #afb1b6;
  margin-left: 30rem;
  border: 1px solid black;
  border-radius: 15%;
}

.user_form #add_user_txt {
  padding-top: 1rem;
  padding-left: 1rem;
}

.user_form #user_logo_field {
  position: absolute;
  height: 1.8rem;
  width: 1.5rem;
  margin-top: 6.5rem;
  margin-left: 22.6rem;
}

.user_form #pass_logo_field {
  position: absolute;
  height: 1.5rem;
  width: 1.2rem;
  margin-top: 9.28rem;
  margin-left: 22.66rem;
}

.user_form #email_logo_field {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 12rem;
  margin-left: 22.5rem;
}

.user_form #role_logo_field {
  position: absolute;
  height: 2rem;
  width: 2rem;
  margin-top: 14.4rem;
  margin-left: 22.2rem;
}

.user_form .form_content {
  height: inherit;
  width: inherit;
  margin-top: 2rem;
  margin-left: 9rem;
}

.user_form .form_content input {
  border: 1px solid black;
  border-radius: 2rem;
  width: 130%;
  height: 17%;
  margin-bottom: 0.4rem;
  font-family: Tahoma bold;
  font-size: 1rem;
  color: black;
}

.user_form .form_content input::-webkit-input-placeholder {
  text-align: center;
}

.user_form .form_content input:-ms-input-placeholder {
  text-align: center;
}

.user_form .form_content input::-ms-input-placeholder {
  text-align: center;
}

.user_form .form_content input::placeholder {
  text-align: center;
}

.user_form .form_content #role_field {
  border: 1px solid black;
  border-radius: 2rem;
  color: black;
  font-size: 14px;
  width: 15.9rem;
  height: 2rem;
  margin-bottom: 0.4rem;
  text-align-last: center;
}

.user_form #add_btn {
  position: absolute;
  width: 5rem;
  height: 3rem;
  margin-left: 3.5rem;
  margin-top: 1.5rem;
  border: 1px solid black;
  border-radius: 2rem;
  font-family: Tahoma bold;
  font-size: 0.9rem;
}

.user_form #del_btn {
  position: absolute;
  width: 5rem;
  height: 3rem;
  margin-left: 24rem;
  margin-top: 1.5rem;
  border: 1px solid black;
  border-radius: 2rem;
  font-family: Tahoma bold;
  font-size: 0.9rem;
}

.user_form #mod_btn {
  position: absolute;
  width: 5rem;
  height: 3rem;
  margin-left: 18rem;
  margin-top: 1.5rem;
  border: 1px solid black;
  border-radius: 2rem;
  font-family: Tahoma bold;
  font-size: 0.9rem;
}

.user_form #sel_btn {
  position: absolute;
  width: 5rem;
  height: 3rem;
  margin-left: 9.5rem;
  margin-top: 1.5rem;
  border: 1px solid black;
  border-radius: 2rem;
  font-family: Tahoma bold;
  font-size: 0.9rem;
}

.user_form #add_btn:hover {
  cursor: pointer;
  background-color: #77c4ee;
}

.user_form #del_btn:hover {
  cursor: pointer;
  background-color: #77c4ee;
}

.user_form #mod_btn:hover {
  cursor: pointer;
  background-color: #77c4ee;
}

.user_form #sel_btn:hover {
  cursor: pointer;
  background-color: #77c4ee;
}

.selected_user {
  position: absolute;
  margin-left: 30rem;
  margin-right: 30rem;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: #afb1b6;
}

.selected_user #sel_info {
  font-size: 0.99999rem;
}
/*# sourceMappingURL=admin.css.map */